<div class="p-4 min-h-[90vh] flex flex-col items-center justify-center">
  <p class="font-bold text-2xl pb-10">Categories</p>
  <p-carousel [value]="categories" [numVisible]="3" [numScroll]="3" [circular]="false" >
    <ng-template let-category #item>
      <div class="bg-white rounded-2xl shadow-lg overflow-hidden transition-transform transform hover:-translate-y-1 hover:shadow-xl m-4">
        <div class="h-80  overflow-hidden">
          <img
            [src]="category.image"
            [alt]="category.name"
            class="object-cover w-full h-full"
          />
        </div>
        <div class="p-4 text-center">
          <h3 class="text-xl font-semibold text-gray-800">{{ category.name }}</h3>
        </div>
      </div>
    </ng-template>
  </p-carousel>
</div>
