<div class="flex justify-between items-center h-20 px-6 bg-gray-100">
  <div class="flex gap-4 items-center">
    <img class="w-12" [src]="imagesrc" alt="Angular Logo" />
    <h1 class="text-2xl bold">Angular</h1>
  </div>
  <div class="flex gap-4">
    <a class="font-bold hover:text-blue-600 cursor-pointer" routerLink="/" routerLinkActive="active"   [routerLinkActiveOptions]="{ exact: true }" >Home</a>
    <a class="font-bold hover:text-blue-600 cursor-pointer" routerLink="#" roterLinkActive="active" >About</a>
    <a class="font-bold hover:text-blue-600 cursor-pointer" routerLink="#" roterLinkActive="active" >Contact</a>
    <a class="font-bold hover:text-blue-600 cursor-pointer" routerLink="/products" routerLinkActive="active" >Products</a>
  </div>
</div>
